.carousel-inner {
  height: auto;
  max-height: 90vh;
  width: 100%;
  overflow: hidden;
}

.carousel-inner img {
  max-height: 90vh;
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
